body {
    background-image: url(images/background.png);
    background-size: 110%;
}

#rat {
    width: 900px;
    padding-left: 40%;
    

}


.actions {
    text-align: center;
    top: 330px;
}

.stats {
    text-align: center;
    padding-top: 10px;
}

